#app aside ul {
  height  : 1.9230769rem;
  left    : 3.8461538rem;
  bottom  : 3rem;
  position: absolute;
}

#app aside li {
  font-size   : 1.7692308rem;
  line-height : 1.9230769rem;
  margin-right: 1.0769231rem;
  color       : #999;
}

#app aside a {
  color: #999;
}

#app aside a:hover {
  color: #666;
}
