#app {
  left            : 50%;
  margin-left     : -50.769231rem;
  top             : 50%;
  margin-top      : -27.692308rem;
  position        : absolute;
  width           : 101.5384615rem;
  height          : 55.3846154rem;
  background-color: #fff;
  border          : 1px solid #222;
}

#app aside {
  width       : 27.6923077rem;
  height      : 100%;
  position    : absolute;
  background  : #f4f4f4;
  border-right: 1px solid #eee;
}

#app article {
  width   : 73.8461538rem;
  height  : 100%;
  right   : 0;
  position: absolute;
}

#app h1,
#app h2,
#app h3 {
  height        : 2.3076923rem;
  left          : 3.8461538rem;
  position      : absolute;
  font-size     : 3.076923rem;
  line-height   : 2.3076923rem;
  letter-spacing: .2307692rem;
  font-family   : "textfont", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#app h2 {
  top        : 18.0769231rem;
  font-size  : 1.6923077rem;
  color      : #333;
  font-family: "Georgia", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#app h1 {
  top      : 21.9230769rem;
  font-size: 2.1538462rem;
  color    : #666;
}

#app h3 {
  top           : 25.7692308rem;
  font-size     : 1.2307692rem;
  color         : #999;
  letter-spacing: .1538462rem;
}


#logo {
  width     : 10.3076923rem;
  height    : 13.2307692rem;
  left      : 3.8461538rem;
  top       : 0;
  position  : absolute;
  background: #000;
}

#logo div {
  left       : 5.3846154rem;
  top        : 8.0769231rem;
  position   : absolute;
  font-family: "logo", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color      : #fff;
  font-size  : 3.8461538rem;
}