#content {
  height  : 49.9rem;
  width   : 100%;
  top     : 5.3846154rem;
  left    : 0;
  position: absolute;
}

#content>div {
  width         : 100%;
  height        : 100%;
  text-align    : center;
  color         : #aaa;
  font-size     : 1.8461538rem;
  line-height   : 48.4615385rem;
  letter-spacing: 1px;
  position      : absolute;
  left          : 0;
  top           : 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}
