footer {
  left       : 50%;
  margin-left: -50.769231rem;
  top        : 50%;
  margin-top : -27.692308rem;
  position   : absolute;
}

footer {
  width      : 101.5384615rem;
  height     : 5.2307692rem;
  margin-top : 27.692308rem;
  color      : #cccccc;
  font-size  : .7692308rem;
  line-height: 5.2307692rem;
}

footer div {
  display     : inline;
  padding-left: 1.8461538rem;
}